@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

/* Defualt  */
*{
    box-sizing: border-box;
    
}
/* BODY */
body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    /* background-image: radial-gradient(circle, #e90303, #ea3c30, #e75a50, #e1736d, #d68a88, #cf8987, #c98785, #c28684, #c06d68, #ba524b, #b1362d, #a60d0d); */

    caret-color: transparent;
    
}

/* Header */
.subjects{
    display: flex;
    
    height: 10vh;
    width: 90vw;
    justify-content: space-between;
    
    align-items: center;

   
}

.subjects .subject{
    /* Background */
    display: flex;
    justify-content: center;
    background-size:contain;
    background-position:center;
    background-repeat: no-repeat;
    flex: 1;
    height: 100%;
   
}


.subjects .subject img{
    object-fit: contain;
    cursor: pointer;
    height: 100%;
}



/* container */
.container{
    display: flex;
    width: 90vw;
    
}

.panel{
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: white;
    cursor:pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}

.panel h3{
    font-size: 24px;
    color: white;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%,0);

    opacity: 0;
}



.panel.active{
    flex: 5
}

.panel.active h3{
    opacity:1;
    transition: opacity 0.3s ease 0.4s;
}

/* Media querist */
@media (max-width:480px)  {
    .container{
        width: 100vw;
    }
    .panel:nth-of-type(4),
    .panel:nth-of-type(5){
       display: none; 
    }
}